* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;

}

html,
body {
    height: 100%;
    width: 100%;

}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;

}

#cursor-blur {
    height: 400px;
    width: 400px;
    background-color: #96c11e2b;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}

#nav {
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;

}

#nav img {
    height: 75px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.15vw;

}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;

}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);

}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}
#page1 #arrow{
    height: 250px;
  width: 250px;
  background-color: transparent;
  border: 2px solid #95c11e;
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#page1 #arrow:hover {
    scale: 0.4;
    background-color: #95c11e;
  }
#page1 #arrow i {
    font-size: 50px;
    font-weight: 100;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px solid #96c11e68;
    z-index: -1;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 40px;
}

#page1 p {
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}

#page2 {
height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
}

#scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: "gilroy";
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #95c11e;
}

#scroller h4:hover {
    color: #95c11e;
}


@keyframes scroll {
    from {
        transform: translate(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#about-us {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    padding: 0 50px;
}

#about-us img {
    height: 220px;
    width: 220;
    border-radius: 20px;
    object-fit: cover;

}

#about-us-in {
    width: 50%;
    text-align: center;
}

#about-us h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;

}

#about-us-in p {
    font-size: 20px;
    line-height: 26px;

}

#cards-container {
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;

}

.card {
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}

#card1 {
    background-image: url(card1.avif)
}

#card2 {
    background-image: url(card2.webp);

}

#card3 {
    background-image: url(card3.avif);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;


}

.overlay h4 {
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}

.overlay p {
    color: #000;
    font-size: 18px;

}

.card:hover .overlay {

    opacity: 1;

}
.card:hover{
    transform: rotate3d(-1,1,0,20deg );
}
#green-div{
    height: 30vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#95c11e,rgba(13, 255, 0, 0.897) );

}
#green-div h4{
    align-items: center;
    justify-content: center;
    width:45%;
    line-height: 50px;
    color: black;
    font-size: 37px;
    text-transform: uppercase;

}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3 p{
    font-size: 45px;
    font-weight: 700;
    width: 60%;
    line-height: 65px;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 15%;
    top: 25%;
}
#page3 #colon2{
    bottom: 30%;
    right: 15%;
}
#page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;

}
#page4 h1{
    font-size: 100px;
    position: absolute;
    top: -15%;
    font-weight: 900;
    color: #000;
    font-family: "gilroy";
    -webkit-text-stroke:2px #fff ;
}
.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    


}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;

}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
.elem:hover h2{
    color: #fff;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
#footer{
    height: 40vh;
    width: 100%;
    background: #119F3A;
    background: linear-gradient(to left bottom,#119F3A,#ace022);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;

}
#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
   
}
#f1 img{
    height: 100px;
}
#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index:2 ;
}
#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;

}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
}
#f4 h4{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}